name: 'redis_service'

services:
  
  domic.redis:
    image: 'redis'
    container_name: 'core_redis'
    command: 'redis-server'
    ports:
      - '6379:6379'
    volumes:
        - redis_data:/data
    networks:
      - domic

volumes:
  redis_data:

networks:
  domic:
    external: true