name: 'mongo_service'

services:
  
  domic.mongo.db:
    image: mongo:4.4
    container_name: 'core_mongo_db'
    restart: on-failure
    ports:
      - '27017:27017'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=domic
      - MONGO_INITDB_ROOT_PASSWORD=434624
    volumes:
      - mongo-data:/data/db # Persist MongoDB data
    networks:
      - domic

volumes:
  mongo-data:

networks:
  domic:
    external: true