name: 'mongo_service'

services:
  
  domic.mongo.db:
    image: mongo:4.4
    container_name: 'core_mongo_db'
    restart: on-failure
    ports:
      - '27017:27017'
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=domic
      - ME_CONFIG_MONGODB_ADMINPASSWORD=434624
    volumes:
      - ~/services/Data/mongo-data:/data/db # Persist MongoDB data
      - ~/services/Data/mongo-config:/data/configdb # Persist MongoDB configuration
    networks:
      - domic

volumes:
  mongo-data:
  mongo-config:

networks:
  domic:
    external: true